body{
  height: 100vh ;
  padding: 0px ;
  margin: 0px ;
  overflow-y: hidden ;
  display: grid ;
  grid-gap: 20px ;
  align-items: center ;
  grid-template-areas:
    "header about portfolio skills experience contact " 
    ;
}

section{
	width: 90vw;
	margin-right: 1vw ;
	margin-left: 1vw ;
}

.btn{
  background-color: transparent ;
  border-radius: 300px ;
  border-color: #fff ;
  color: #fff ;
  padding: 10% ;
}

.box{
  height: 50vh ;
  width: 95% ;
  margin: auto ;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #252525 ;
}

/*        COLORS      */
h4{
  color: #7890a8  ;
}
h1{
  color: #ffffff ;
}
h3{
  color: #90a8c0  ;
}
p{
  color: #eee ;
}
li{
  color: #eee ;
}
/*        COLORS      */


header{
  height: 100vh ;
  width: 100vw ;
  grid-area: header ;
  background: linear-gradient( to right , #fff , #90a8c0 ) ;
}

header .box{
  display: grid ;
  grid-template-areas:
    ". . ."
    " graphic graphic graphic "
    ". . btn"
    ;
  align-items: center ;
  background-color: transparent ;
}

header img{
  grid-area: graphic ;
  width: 100% ;
}

header #head-btn-port{
  grid-area: btn ;
}
header .nav-btn{
  float: right ;
  text-decoration: none ;
  border-radius: 50% ;
  margin-right: 10px ;
  height: 60px ;
  width: 60px ;
  padding: 10px ;
  color: #fff ;
  border-width: 1px ;
  border-style: solid ;
  border-color: #fff ;
}
header .nav-btn:hover{
  background-color: #fff ;
  color: #7890a8  ;
  border-color: #7890a8 ;
}

/*7890a8*/
header #head-btn-port i{
  font-size: 50px ;
  margin-left: 40%;
  margin-top: 5%
}

/*end of header*/


/*about*/
#about{
  grid-area: about ;
}

#about > .box{
  display: grid ;
  align-items: center ;
  grid-gap: 5% ;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-areas:
    "header header header"
    "graphic content content" 
    ". . btn "
      ;
}

#about .header{
  grid-area: header ;
}

#about img{
  width: 90% ;
  border-radius: 50% ;
  grid-area: graphic ;
}

#about .content{
  grid-area: content ;
}

#about .btn{
  grid-area: btn ;
}
