body{
  height: 100vh ;
  padding: 0px ;
  margin: 0px ;
  overflow-y: hidden ;
  display: grid ;
  grid-gap: 20px ;
  align-items: center ;
  grid-template-areas:
    "header about portfolio skills experience contact " 
    ;
  background-color: #252525 ;
}

section{
	width: 90vw;
	margin-right: 1vw ;
	margin-left: 1vw ;
}

.btn{
  font-family: monospace ;
  background-color: transparent ;
  border-radius: 300px ;
  border-color: #fff ;
  color: #fff ;
  padding: 10% ;
}

.btn:hover{
  background-color: #fff ;
  color: #90a8c0;
  border-color:#90a8c0  ;
}

.box{
  width: 95% ;
  height: 100% ;
  margin: auto ;
  padding-left: 10px ;
  padding-right: 10px ;
}

img{
  margin: auto;
  width: 90% ;
}

/*        COLORS      */
h4{
  color: #7890a8  ;
}
h1{
  color: #ffffff ;
}
h3{
  color: #90a8c0  ;
}
p{
  color: #eee ;
}
li{
  color: #eee ;
}
/*        COLORS      */


header{
  height: 100vh;
  width: 100vw ;
  grid-area: header ;
}

header .box{
  display: grid ;
  grid-template-rows: 1fr 1fr 1fr ;
  grid-template-areas:
    ". . ."
    "graphic graphic graphic"
    ". . btn"
    ;
  align-items: center ;
  background-color: transparent ;
}

header #hero{
  grid-area: graphic ;
  width: 100% ;
}

header #head-btn{
  grid-area: btn ;
}

header .nav-btn{
  float: right ;
  text-decoration: none ;
  border-radius: 50% ;
  margin-right: 10px ;
  height: 60px ;
  width: 60px ;
  padding: 10px ;
  color: #fff ;
  border-width: 1px ;
  border-style: solid ;
  border-color: #fff ;
}
header .nav-btn:hover{
  background-color: #fff ;
  color: #7890a8  ;
  border-color: #7890a8 ;
}

/*7890a8*/
header #head-btn i{
  font-size: 50px ;
  margin-left: 40%;
  margin-top: 5%
}

/*end of header*/


/*about*/
#about{
  grid-area: about ;

}

#about > .box{
  display: grid ;
  align-items: center ;
  grid-gap: 5% ;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-areas:
    "header header header"
    "graphic content content" 
    ". . btn "
      ;
}

#about .header{
  grid-area: header ;
}

#about img{
  border-radius: 50% ;
  grid-area: graphic ;
}

#about .content{
  grid-area: content ;
}

#about #pbtn{
  grid-area: btn ;
}

#personal{
  display: none ;
  height: 80vh ;
  grid-area: about ;
  background-color: rgba( 238 ,238 , 238 , .7) ;
  padding-top: 5% ;
  padding-bottom: 5% ;
}

#personal #close{
  display: block ;
  float: right ;
  margin-right: 5% ;
}

#personal .hobby{
  margin: 5% ;
  padding: 5% ;
  background-color: #252525 ;
  display: grid ;
  grid-gap: 5% ;
  grid-template-columns: 1fr 2fr ;
  grid-template-areas: 
    "header header"
    "graphic content"
    ;
}

#personal #photo{
  margin-top: 10%;
}

#personal .hobby .header{
  grid-area: header ;
}

#personal .hobby img{
  grid-area: graphic ;
}
#personal .hobby p{
  grid-area: content ;
}

#portfolio{
  grid-area: portfolio ;
  height: 95vh ;
  display: grid ;
  align-items: center ;
  grid-template-rows: 1fr 3fr ;
  grid-template-columns: 1fr 1fr ;
  grid-template-areas: 
    "header header"
    "nav display"
}

#portfolio .header{
  grid-area: header ;
}

#portfolio .nav {
  height: 100% ;
  grid-area: nav ;
  display: grid ;
  grid-template-rows: repeat( auto-fill , 1fr ) ;
}

#portfolio .nav .item{
  display: grid ;
  align-items: center ;
  background: white ;
  padding-left: 10% ;
}

#portfolio .display{
  grid-area: display;
  background-color: white ;
