body{
  height: 100vh ;
  padding: 0px ;
  margin: 0px ;
  overflow-y: hidden ;
  display: grid ;
  grid-gap: 5vw ;
  align-items: center ;
  grid-template-areas:
    "header about portfolio skills experience contact " 
    ;
  background-color: #252525 ;
}

section{
	width: 90vw;
	margin-right: 1vw ;
	margin-left: 1vw ;
}

.btn{
  font-family: monospace ;
  background-color: transparent ;
  border-radius: 300px ;
  border-color: #fff ;
  color: #fff ;
  padding: 10% ;
}

.btn:hover{
  background-color: #fff ;
  color: #90a8c0;
  border-color:#90a8c0  ;
}

.box{
  width: 95% ;
  height: 100% ;
  margin: auto ;
  padding-left: 10px ;
  padding-right: 10px ;
}

img{
  margin: auto;
  width: 90% ;
}

/*        COLORS      */
h4{
  color: #7890a8  ;
}
h1{
  color: #ffffff ;
}
h3{
  color: #90a8c0  ;
}
p{
  color: #eee ;
}
li{
  color: #eee ;
}
a{
  color: #90a8c0  ;
}
/*        COLORS      */


header{
  height: 100vh;
  width: 100vw ;
  grid-area: header ;
}

header .box{
  display: grid ;
  grid-template-rows: 1fr 1fr 1fr ;
  grid-template-areas:
    ". . ."
    "graphic graphic graphic"
    ". . btn"
    ;
  align-items: center ;
  background-color: transparent ;
}

header #hero{
  grid-area: graphic ;
  width: 100% ;
}

header #head-btn{
  grid-area: btn ;
}

header .nav-btn{
  float: right ;
  text-decoration: none ;
  border-radius: 50% ;
  margin-right: 10px ;
  height: 60px ;
  width: 60px ;
  padding: 10px ;
  color: #fff ;
  border-width: 1px ;
  border-style: solid ;
  border-color: #fff ;
}
header .nav-btn:hover{
  background-color: #fff ;
  color: #7890a8  ;
  border-color: #7890a8 ;
}

/*7890a8*/
header #head-btn i{
  font-size: 50px ;
  margin-left: 40%;
  margin-top: 5%
}

/*end of header*/


/*about*/
#about{
  grid-area: about ;

}

#about > .box{
  display: grid ;
  align-items: center ;
  grid-gap: 5% ;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-areas:
    "header header header"
    "graphic content content" 
    ". . btn "
      ;
}

#about .header{
  grid-area: header ;
}

#about img{
  border-radius: 50% ;
  grid-area: graphic ;
}

#about .content{
  grid-area: content ;
}

#about #pbtn{
  grid-area: btn ;
}

#personal{
  display: none ;
  height: 80vh ;
  grid-area: about ;
  background-color: rgba( 238 ,238 , 238 , .7) ;
  padding-top: 5% ;
  padding-bottom: 5% ;
}

#personal #close{
  display: block ;
  float: right ;
  margin-right: 5% ;
}

#personal .hobby{
  margin: 5% ;
  padding: 5% ;
  width: 25% ;
  height: 25% ;
  background-color: #252525 ;
  display: inline-block ;
}

#personal .hobby:hover img{
  display: none ;
}

#personal #photo{
  margin-top: 10%;
}
#personal .hobby:hover .header{
  grid-area: header ;
  display: initial ;
}

#personal .hobby .header{
  display: none ;
}

#personal .hobby img{
  grid-area: graphic ;
}
#personal .hobby p{
  grid-area: content ;
}

#portfolio{
  grid-area: portfolio ;
  height: 95vh ;
  display: grid ;
  grid-gap: 5% ;
  align-items: center ;
  grid-template-rows: 1fr 3fr .5fr  ;
  grid-template-columns: 2fr 3fr ;
  grid-template-areas: 
    "header header"
    "nav display"
    ". ."
    ;
}

#portfolio .header{
  grid-area: header ;
}

#portfolio .nav {
  height: 100% ;
  grid-area: nav ;
  display: grid ;
  grid-template-rows: repeat( auto-fill , 1fr ) ;
}

#portfolio .nav .item{
  display: grid ;
  align-items: center ;
  padding-left: 10% ;
  border-radius: 1px ;
  border-color: #fff ;
}


#portfolio .nav .item a{
  color: #fff ;
  text-decoration: none ;
}

#portfolio .nav .item:hover {
  background-color: #63595c;
}

#portfolio #p1{
  border-bottom-style: solid ;
}

#portfolio #p2{
  border-bottom-style: solid ;
}

#portfolio #p3{
  border-bottom-style: solid ;
}


#portfolio .active{
  background: #90a8c0;
}
  
#portfolio .active h3{
  color: #fff
}

#portfolio .display{
  display: grid ;
  text-align: center ;
  align-items: center ;
  height: 100% ;
  background-image: url("../images/p1.png") ;
  background-position: center ;
  background-size: cover ;
}

#portfolio .display > div{
  background: #90a8c0;
  display: none ;
  padding-top: 5% ;
  padding-bottom: 5% ;
}

#portfolio .display .active {
  display: block ;
}

/*skills*/
#skills ul{
  list-style-type: none ;
  padding-left: 0px ;
}

#skills li{
  padding-left: 3% ;
  width: 20% ;
  display: inline-block ;
  border-right-width: 2px ;
  border-right-style: solid ;
  border-right-color: #fff; 
  background-color: #63595c ;
}


#skills .skill-group {
  margin-top: 30px ;
}
#skills .skill-group div{
  background-color: #63595c;
  height: 20px ;
  display: none ;
}
#skills .skill-group:hover div{
  display: block;
}

#skills .skill-group div p{
  margin-left: 10px ;
  color: #252525;
}

/*nested*/



/*contact*/
#contact ul{
  list-style-type: none ;
  padding: 0px ;
  margin: 10% ;
}

#contact li{
  display: inline-block ;
  margin: 5% ;
}

#contact i{
}

#contact .icon {
  text-align: center ;
  background-color: transparent ;
  color: #fff ;
  display: inline-block ;
  height: 60px ;
  width: 60px ;
  border-radius: 50% ;
  font-size: 50px ;
  font-style: monospace ;
}
#contact .icon:hover{
  background-color: #fff ;
  color:  #7890a8;
}

#contact h1 {
  margin: 10% ;
}

#contact p {
  margin: 10% ;
}
@media (min-width: 900px ){
  #head-btn{
    display: none ;
  }
}

@media (min-width: 900px ) and (max-width:1130px){
  header{
    width: 60vw ;
    margin-left: 10vw ;
    margin-right: 10vw ;
  }
  section{
    width: 60vw ;
  }
  body{
    grid-gap: 10vw ;
  }
}
@media (min-width: 1130px ) and (max-width: 1400px){
  header{
    width: 50vw ;
    margin-left: 10vw ;
    margin-right: 10vw ;
  }
  section{
    width: 50vw ;
  }
  body{
    grid-gap: 15vw ;
  }
}

@media (min-width: 1400px){
  header{
    width: 40vw;
    margin-left: 15vw ;
    margin-right: 10vw ;
  }
  section{
    width: 40vw;
  }
  body{
    grid-gap: 15vw ;
  }
}
